
*{
  margin:0;
  padding:0;
  box-sizing: berder-box;
  font-family:'Poppins',sans-serif;
}
body{
  display:flex;
 justify-content:center;
  align-items:center;
  min-height:100vh;
  background:url(background1.png) no-repeat;
  background-size:cover;
  background-position:center;

}
header
{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  padding: 20px 100px;

  display:flex;
  justify-content: space-between;
  align-items:center;
  z-index:99;
}
.logo{
  font-size:2em;
  color:beige;
  user-select:none;
}
.navigation a
{
  position:relative;
  font-size:1.1em;
  color:white;
  text-decoration:none;
  font-weight:500;
  margin-left:40px;
}

.navigation a::after
{
  content: '';
  position: absolute;
  left:0;
  bottom:-6px;
  width:100%;
  height:3px;
  background: white;
  border-radius:5px;
  transform:scaleX(0);
  transform-origin:right ;
  transition: transform .5s;

}
.navigation a:hover::after
{
  transform:scaleX(1);
}

.p,h1{
  font-size:2em;
  color:beige;
  user-select:none;
}

.w{
  width:200px;
  height:140px;
}
.p,h2
{
  font-size:1.5em;
  color:beige;
  user-select:none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div1 {
  margin-bottom: 20px;
}

.div2 {
  display: flex;
}

.div2 .inner-div {
  flex: 1;
  margin-right: 20px;
}

.div4 {
  margin-top: 20px;
}
.wrapper
{
  position:relative;
  width: 500px;
  height: 540px;
  background:transparent;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 20px;
  backdrop-filter:blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display:flex;
  justify-content:center;
  align-items: center;
}
.p,h3
{
  font-size:1em;
  color:beige;
  user-select:none;
}
